{
  "swagger": "2.0",
  "info": {
    "description": "Api Documentation",
    "version": "1.0",
    "title": "Api Documentation",
    "termsOfService": "urn:tos",
    "contact": {

    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "mmonitor.gost-group.com",
  "basePath": "/",
  "tags": [
    {
      "name": "active-filter-controller",
      "description": "Active Filter Controller"
    },
    {
      "name": "alias-controller",
      "description": "Alias Controller"
    },
    {
      "name": "basic-error-controller",
      "description": "Basic Error Controller"
    },
    {
      "name": "caches-controller",
      "description": "Caches Controller"
    },
    {
      "name": "camera-controller",
      "description": "Camera Controller"
    },
    {
      "name": "dashlet-controller",
      "description": "Dashlet Controller"
    },
    {
      "name": "features-controller",
      "description": "Features Controller"
    },
    {
      "name": "generator-controller",
      "description": "Generator Controller"
    },
    {
      "name": "graph-ql-controller",
      "description": "Graph QL Controller"
    },
    {
      "name": "graphics-controller",
      "description": "Graphics Controller"
    },
    {
      "name": "incident-controller",
      "description": "Incident Controller"
    },
    {
      "name": "layer-administration-controller",
      "description": "Layer Administration Controller"
    },
    {
      "name": "layer-incident-controller",
      "description": "Layer Incident Controller"
    },
    {
      "name": "layer-mapping-administration-controller",
      "description": "Layer Mapping Administration Controller"
    },
    {
      "name": "layers-controller",
      "description": "Layers Controller"
    },
    {
      "name": "legend-controller",
      "description": "Legend Controller"
    },
    {
      "name": "mappings-controller",
      "description": "Mappings Controller"
    },
    {
      "name": "operation-handler",
      "description": "Operation Handler"
    },
    {
      "name": "property-controller",
      "description": "Property Controller"
    },
    {
      "name": "report-calculate-controller",
      "description": "Report Calculate Controller"
    },
    {
      "name": "report-controller",
      "description": "Report Controller"
    },
    {
      "name": "report-file-controller",
      "description": "Report File Controller"
    },
    {
      "name": "report-info-controller",
      "description": "Report Info Controller"
    },
    {
      "name": "security-journal-output-controller",
      "description": "Security Journal Output Controller"
    },
    {
      "name": "system-type-controller",
      "description": "System Type Controller"
    },
    {
      "name": "table-controller",
      "description": "Table Controller"
    },
    {
      "name": "ts-info-controller",
      "description": "Ts Info Controller"
    },
    {
      "name": "violations-controller",
      "description": "Violations Controller"
    },
    {
      "name": "weather-controller",
      "description": "Weather Controller"
    },
    {
      "name": "web-mvc-links-handler",
      "description": "Web Mvc Links Handler"
    },
    {
      "name": "widget-controller",
      "description": "Widget Controller"
    },
    {
      "name": "winter-controller",
      "description": "Winter Controller"
    }
  ],
  "paths": {
    "/actuator": {
      "get": {
        "tags": [
          "web-mvc-links-handler"
        ],
        "summary": "links",
        "operationId": "linksUsingGET",
        "produces": [
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/definitions/Link"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/actuator/health": {
      "get": {
        "tags": [
          "operation-handler"
        ],
        "summary": "handle",
        "operationId": "handleUsingGET_2",
        "produces": [
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/actuator/health/{component}": {
      "get": {
        "tags": [
          "operation-handler"
        ],
        "summary": "handle",
        "operationId": "handleUsingGET_1",
        "produces": [
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/actuator/health/{component}/{instance}": {
      "get": {
        "tags": [
          "operation-handler"
        ],
        "summary": "handle",
        "operationId": "handleUsingGET",
        "produces": [
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/actuator/info": {
      "get": {
        "tags": [
          "operation-handler"
        ],
        "summary": "handle",
        "operationId": "handleUsingGET_3",
        "produces": [
          "application/json",
          "application/vnd.spring-boot.actuator.v2+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/graphql": {
      "post": {
        "tags": [
          "graph-ql-controller"
        ],
        "summary": "graphql",
        "operationId": "graphqlUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/active_filter": {
      "get": {
        "tags": [
          "active-filter-controller"
        ],
        "summary": "getActiveFilter",
        "operationId": "getActiveFilterUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«List«ActiveFilterDTO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "active-filter-controller"
        ],
        "summary": "updateActiveFilter",
        "operationId": "updateActiveFilterUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "activeFilterDTO",
            "description": "activeFilterDTO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActiveFilterDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«ActiveFilterDTO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/incident/close": {
      "get": {
        "tags": [
          "incident-controller"
        ],
        "summary": "Запрос позволяет закрыть индицент нв date open + 1 day 18:00",
        "description": "Метод позволяет закрыть индицент по иентификатору",
        "operationId": "closeIncidentUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Дата и время на которое необходимо получить выгрузку",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "2019-11-11T21:00:00"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Список идентификаторов индидентов",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "2094704038"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/incident/delete": {
      "get": {
        "tags": [
          "incident-controller"
        ],
        "summary": "Запрос позволяет удалить инцидент по идентификатору",
        "description": "Метод позволяет удалить индицент по иентификатору",
        "operationId": "deleteIncidentUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Список идентификаторов индидентов",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "2094704038"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/incident/getData/csv": {
      "get": {
        "tags": [
          "incident-controller"
        ],
        "summary": "Запрос для выгрузки данных из таблицы инцидентов.",
        "description": "Метод позволяет получить выгрузку на определенную дату.",
        "operationId": "getDataByDateCSVUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Дата и время на которое необходимо получить выгрузку",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "2019-11-11T21:00:00"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/incident/getData/excel": {
      "get": {
        "tags": [
          "incident-controller"
        ],
        "summary": "Запрос для выгрузки данных из таблицы инцидентов.",
        "description": "Метод позволяет получить выгрузку на определенную дату.",
        "operationId": "getDataByDateExcelUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Дата и время на которое необходимо получить выгрузку",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "2019-11-11T21:00:00"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/layers": {
      "get": {
        "tags": [
          "layer-administration-controller"
        ],
        "summary": "Запрос на получение слоёв с фильтрацией и пагинацией.",
        "description": "Метод позволяет получить слои.",
        "operationId": "searchLayersUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "enabled",
            "in": "query",
            "description": "enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "field",
            "in": "query",
            "description": "field",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paged",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort.sorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort.unsorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "unpaged",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«PageResult«LayerDTO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/layers/edit": {
      "post": {
        "tags": [
          "layer-administration-controller"
        ],
        "summary": "Запрос редактирование полей слоя",
        "description": "Метод позволяет редактировать информацию слоя.",
        "operationId": "editLayerUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "info",
            "description": "info",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LayerDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/layers/enable": {
      "post": {
        "tags": [
          "layer-administration-controller"
        ],
        "summary": "Запрос позволяет включать и выключать слой",
        "operationId": "editEnableStatusUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "layerAlias",
            "description": "layerAlias",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LayerDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/layers/layer_type": {
      "get": {
        "tags": [
          "layer-administration-controller"
        ],
        "summary": "getLayerTypes",
        "operationId": "getLayerTypesUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«Map«string,string»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/layers/mapping": {
      "post": {
        "tags": [
          "layer-mapping-administration-controller"
        ],
        "summary": "Запрос на добавление объекта маппинга полей слоя.",
        "description": "Метод позволяет добавить маппинг поля слоя.",
        "operationId": "addLayerMappingUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "mapping",
            "description": "mapping",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FieldMappingDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«FieldMappingDTO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/layers/mapping/{alias}": {
      "get": {
        "tags": [
          "layer-mapping-administration-controller"
        ],
        "summary": "Запрос на получение объектов маппинга полей слоя, по алиасу слоя.",
        "description": "Метод позволяет получить информацию маппингам полей слоя.",
        "operationId": "getLayerMappingUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "Alias слоя.",
            "required": false,
            "type": "string",
            "x-example": "dt"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«List«FieldMappingDTO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/layers/mapping/{alias}/attributeValues": {
      "get": {
        "tags": [
          "layer-mapping-administration-controller"
        ],
        "summary": "Запрос на получение доступных значений маппинга по алиасу слоя.",
        "description": "Метод позволяет получить доступные значения маппинга по алиасу слоя.",
        "operationId": "getAttributeValuesByAliasUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "id маппинга.",
            "required": false,
            "type": "string",
            "x-example": "mkd"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«List«string»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/layers/mapping/{id}": {
      "delete": {
        "tags": [
          "layer-mapping-administration-controller"
        ],
        "summary": "Запрос на удаление объекта маппинга поля слоя по id.",
        "description": "Метод позволяет удалить маппинг поля слоя.",
        "operationId": "deleteLayerMappingUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id маппинга.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/layers/updateLayerInfo": {
      "patch": {
        "tags": [
          "layer-administration-controller"
        ],
        "summary": "updateLayerData",
        "operationId": "updateLayerDataUsingPATCH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "layerId",
            "in": "query",
            "description": "layerId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«Map»"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/admin/report/calculate": {
      "get": {
        "tags": [
          "report-calculate-controller"
        ],
        "summary": "Запрос для запуска принудительной генерации отчётов.",
        "description": "Метод позволяет запустить генерацию отчётов.",
        "operationId": "calculateUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "date",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "name": "reportType",
            "in": "query",
            "description": "reportType",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/aliases": {
      "get": {
        "tags": [
          "alias-controller"
        ],
        "summary": "Алиасы слоёв",
        "description": "Метод выводит перечень алиасов слоёв",
        "operationId": "getAliasesUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«List«LayerAliasDTO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "alias-controller"
        ],
        "summary": "Добавление нового алиаса слоя",
        "description": "Метод добавления алиаса",
        "operationId": "addAliasUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "alias",
            "description": "alias",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LayerAliasDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/aliases/{id}": {
      "delete": {
        "tags": [
          "alias-controller"
        ],
        "summary": "удаление алиаса слоя по идентификатору",
        "description": "Метод удаляет алиас",
        "operationId": "deleteAliasUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/dashlet": {
      "get": {
        "tags": [
          "dashlet-controller"
        ],
        "summary": "sourceWidget",
        "operationId": "sourceWidgetUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "date",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "name": "districtId",
            "in": "query",
            "description": "Код района",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "regionId",
            "in": "query",
            "description": "Код округа",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "theme",
            "in": "query",
            "description": "theme",
            "required": false,
            "type": "string",
            "default": "light"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«DashletDTO»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/features/{alias}": {
      "get": {
        "tags": [
          "features-controller"
        ],
        "summary": "Запрос на получение данных по объектам заданного слоя города/округов/района",
        "description": "Метод позволяет получить информацию по объектам заданного слоя города/округов/района",
        "operationId": "featuresUsingGET_1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "Alias слоя города/округа/района. Используется в формировании URL.",
            "required": false,
            "type": "string",
            "x-example": "<uri>/features/moscow.russia"
          },
          {
            "name": "cache",
            "in": "header",
            "description": "cache",
            "required": false,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Временное окно для ревизий объектов слоя. Дата и время окончания периода",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "yyyy-MM-ddThh:mm:ss"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Временное окно для ревизий объектов слоя. Дата и время начала периода",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "yyyy-MM-ddThh:mm:ss"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/features/{alias}/{filter}/{value}": {
      "get": {
        "tags": [
          "features-controller"
        ],
        "summary": "Запрос на получение данных по объектам заданного слоя города/округов/района",
        "description": "Метод позволяет получить информацию по объектам заданного слоя города/округов/района",
        "operationId": "featuresUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "Alias слоя города/округа/района. Используется в формировании URL.",
            "required": false,
            "type": "string",
            "x-example": "<uri>/features/moscow.russia"
          },
          {
            "name": "cache",
            "in": "header",
            "description": "cache",
            "required": false,
            "type": "string",
            "default": "false"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Временное окно для ревизий объектов слоя. Дата и время окончания периода",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "yyyy-MM-ddThh:mm:ss"
          },
          {
            "name": "filter",
            "in": "path",
            "description": "Имя фильтра. Имя атрибута в возвращаемом JSON объекте.",
            "required": false,
            "type": "string",
            "x-example": "properties.object_code"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Временное окно для ревизий объектов слоя. Дата и время начала периода",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "yyyy-MM-ddThh:mm:ss"
          },
          {
            "name": "value",
            "in": "path",
            "description": "Значение фильтра. Значение атрибута в возвращаемом JSON объекте.",
            "required": false,
            "type": "string",
            "x-example": "01210"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/generate/{dimension}": {
      "get": {
        "tags": [
          "generator-controller"
        ],
        "summary": "generate",
        "operationId": "generateUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dimension",
            "in": "path",
            "description": "dimension",
            "required": true,
            "type": "string"
          },
          {
            "name": "season",
            "in": "path",
            "description": "season",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/generate/{dimension}/{season}": {
      "get": {
        "tags": [
          "generator-controller"
        ],
        "summary": "generate",
        "operationId": "generateUsingGET_1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dimension",
            "in": "path",
            "description": "dimension",
            "required": true,
            "type": "string"
          },
          {
            "name": "season",
            "in": "path",
            "description": "season",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/graphics/areaChart": {
      "get": {
        "tags": [
          "graphics-controller"
        ],
        "summary": "Запрос на получение данных для 2х графиков нарушений: Контроля жителей и Контроля города за период времени",
        "description": "Метод позволяет получить данных для 2х графиков нарушений: Контроль жителями и Контроль города за период времени",
        "operationId": "areaChartUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cache",
            "in": "header",
            "description": "cache",
            "required": false,
            "type": "string"
          },
          {
            "name": "dimension",
            "in": "query",
            "description": "Список слоёв",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Дата и время конца периода",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "2019-11-11T21:00:00"
          },
          {
            "name": "season",
            "in": "query",
            "description": "Сезон",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "winter,all",
            "allowEmptyValue": false
          },
          {
            "name": "sourceSystems",
            "in": "query",
            "description": "Список систем",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Дата и время начала периода",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "2019-11-10T21:00:00"
          },
          {
            "name": "violationType",
            "in": "query",
            "description": "Тип нарушения",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "CRT,CMN",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«GraphicsDTO»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/graphics/circleChart": {
      "get": {
        "tags": [
          "graphics-controller"
        ],
        "summary": "circleChart",
        "operationId": "circleChartUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cache",
            "in": "header",
            "description": "cache",
            "required": false,
            "type": "string"
          },
          {
            "name": "dimension",
            "in": "query",
            "description": "Список слоёв",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "endDate",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "season",
            "in": "query",
            "description": "Сезон",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "winter,all",
            "allowEmptyValue": false
          },
          {
            "name": "sourceSystems",
            "in": "query",
            "description": "Список систем",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "startDate",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "violationType",
            "in": "query",
            "description": "Тип нарушения",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "CRT,CMN",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«GraphicsDTO»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/graphics/varChart": {
      "get": {
        "tags": [
          "graphics-controller"
        ],
        "summary": "chart",
        "operationId": "chartUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cache",
            "in": "header",
            "description": "cache",
            "required": false,
            "type": "string"
          },
          {
            "name": "dimension",
            "in": "query",
            "description": "Список слоёв",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "endDate",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "season",
            "in": "query",
            "description": "Сезон",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "winter,all",
            "allowEmptyValue": false
          },
          {
            "name": "sourceSystems",
            "in": "query",
            "description": "Список систем",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "startDate",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "violationType",
            "in": "query",
            "description": "Тип нарушения",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "CRT,CMN",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«GraphicsDTO»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/incident/all": {
      "post": {
        "tags": [
          "layer-incident-controller"
        ],
        "summary": "violationsOfDimension",
        "operationId": "violationsOfDimensionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "endDate",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/WidgetFilter"
            }
          },
          {
            "name": "season",
            "in": "query",
            "description": "Сезон",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "winter,all",
            "allowEmptyValue": false
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "startDate",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "theme",
            "in": "query",
            "description": "theme",
            "required": false,
            "type": "string",
            "default": "light"
          },
          {
            "name": "usePeriod",
            "in": "query",
            "description": "Использовать период",
            "required": false,
            "type": "boolean",
            "default": false,
            "allowEmptyValue": false,
            "x-example": true
          },
          {
            "name": "violationType",
            "in": "query",
            "description": "Тип нарушения",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "CRT,CMN",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«LayerObjectInfoDTO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/incident/feature": {
      "post": {
        "tags": [
          "layer-incident-controller"
        ],
        "summary": "incidentOfFeature",
        "operationId": "incidentOfFeatureUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alias",
            "in": "query",
            "description": "Алиас слоя",
            "required": true,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "endDate",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "featureId",
            "in": "query",
            "description": "Идентификатор объекта",
            "required": true,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/WidgetFilter"
            }
          },
          {
            "name": "season",
            "in": "query",
            "description": "Сезон",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "winter,all",
            "allowEmptyValue": false
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "startDate",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "theme",
            "in": "query",
            "description": "theme",
            "required": false,
            "type": "string",
            "default": "light"
          },
          {
            "name": "usePeriod",
            "in": "query",
            "description": "Использовать период",
            "required": false,
            "type": "boolean",
            "default": false,
            "allowEmptyValue": false,
            "x-example": true
          },
          {
            "name": "violationType",
            "in": "query",
            "description": "Тип нарушения",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "CRT,CMN",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«LayerSingleObjectDTO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/info/report": {
      "get": {
        "tags": [
          "report-info-controller"
        ],
        "summary": "Запрос на получение отчетной информации.",
        "description": "Метод позволяет получить отчетную информацию.",
        "operationId": "getReportUsingGET_1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "date",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "name": "dimension",
            "in": "query",
            "description": "dimension",
            "required": false,
            "type": "string"
          },
          {
            "name": "season",
            "in": "query",
            "description": "season",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "required": false,
            "type": "string",
            "default": "FRONT"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«ReportInfoDTO»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/layers": {
      "get": {
        "tags": [
          "layers-controller"
        ],
        "summary": "Запрос на получение данных по слоям-срезам, таким как слои ДТ/МКД/ОДХ/ТПУ и пр.",
        "description": "Метод позволяет получить информацию по слоям-срезам, таким как слои ДТ/МКД/ОДХ/ТПУ",
        "operationId": "layersUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cache",
            "in": "header",
            "description": "cache",
            "required": false,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Временное окно для ревизий объектов слоя. Дата и время окончания периода",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "yyyy-MM-ddThh:mm:ss"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Временное окно для ревизий объектов слоя. Дата и время начала периода",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "yyyy-MM-ddThh:mm:ss"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/layers/geometry": {
      "get": {
        "tags": [
          "layers-controller"
        ],
        "summary": "Запрос на получение данных по геометрическим слоям, таким как слои городов/округов/районов и пр.",
        "description": "Метод позволяет получить информацию по геометрическим слоям, таким как слои городов/округов/районов",
        "operationId": "layersGeometryUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cache",
            "in": "header",
            "description": "cache",
            "required": false,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Временное окно для ревизий объектов слоя. Дата и время окончания периода",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "yyyy-MM-ddThh:mm:ss"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Временное окно для ревизий объектов слоя. Дата и время начала периода",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "yyyy-MM-ddThh:mm:ss"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/legend/{alias}": {
      "get": {
        "tags": [
          "legend-controller"
        ],
        "summary": "Легенда цветового заполнения карты с указанием сезона",
        "description": "Метод выводит легенду цветового заполнения карты по сезону",
        "operationId": "legendUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "Административный уровень",
            "required": false,
            "type": "string"
          },
          {
            "name": "cache",
            "in": "header",
            "description": "cache",
            "required": false,
            "type": "string"
          },
          {
            "name": "season",
            "in": "path",
            "description": "Сезон",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«List«LegendDTO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/legend/{alias}/{season}": {
      "get": {
        "tags": [
          "legend-controller"
        ],
        "summary": "Легенда цветового заполнения карты с указанием сезона",
        "description": "Метод выводит легенду цветового заполнения карты по сезону",
        "operationId": "legendUsingGET_1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "Административный уровень",
            "required": false,
            "type": "string"
          },
          {
            "name": "cache",
            "in": "header",
            "description": "cache",
            "required": false,
            "type": "string"
          },
          {
            "name": "season",
            "in": "path",
            "description": "Сезон",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«List«LegendDTO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/legends": {
      "get": {
        "tags": [
          "legend-controller"
        ],
        "summary": "Легенда цветового заполнения карты",
        "description": "Метод выводит легенду цветового заполнения карты",
        "operationId": "legendsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paged",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort.sorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort.unsorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "unpaged",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«PageResult«LegendEditingDTO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/legends/level_type": {
      "get": {
        "tags": [
          "legend-controller"
        ],
        "summary": "Получение описания к полю level",
        "description": "Метод позволяет получить описание к полю level",
        "operationId": "getLayerTypesUsingGET_1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«Map«string,string»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/legends/save": {
      "post": {
        "tags": [
          "legend-controller"
        ],
        "summary": "Метод добавления/изменения легенды",
        "description": "Метод добавляет/изменяет легенду",
        "operationId": "saveLegendUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "legend",
            "description": "Легенда",
            "required": false,
            "schema": {
              "$ref": "#/definitions/LegendEditingDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«LegendEditingDTO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/legends/season_type": {
      "get": {
        "tags": [
          "legend-controller"
        ],
        "summary": "Получение описания к полю season",
        "description": "Метод позволяет получить описание к полю season",
        "operationId": "getSeasonTypesUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«Map«string,string»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/legends/{id}": {
      "delete": {
        "tags": [
          "legend-controller"
        ],
        "summary": "Метод удаления легенды по ID",
        "description": "Метод позволяет удалить легенду по её идентификатору",
        "operationId": "deleteLegendUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Идентификатор легенды",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/mappings/{alias}": {
      "get": {
        "tags": [
          "mappings-controller"
        ],
        "summary": "Запрос на получение струтуры семантики объектов заданного слоя",
        "description": "Метод позволяет получить информацию по струтуре семантики объектов заданного слоя",
        "operationId": "mappingsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "Alias слоя. Используется в формировании URL.",
            "required": false,
            "type": "string",
            "x-example": "<uri>/mappings/moscow.russia или <uri>/mappings/mkd"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/property": {
      "get": {
        "tags": [
          "property-controller"
        ],
        "summary": "Получение настроек",
        "description": "Метод позволяет получить настройки для фронта",
        "operationId": "getPropertiesUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "types",
            "in": "query",
            "description": "types",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "CAMERA",
                "DASHBOARD"
              ]
            },
            "collectionFormat": "multi",
            "enum": [
              "CAMERA",
              "DASHBOARD"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«string»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "property-controller"
        ],
        "summary": "Изменение настроек",
        "description": "Метод позволяет изменить значение настроек",
        "operationId": "savePropertyValueUsingPATCH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "property",
            "description": "Измененная настройка",
            "required": false,
            "schema": {
              "$ref": "#/definitions/KeyPropertyDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«string»"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/property/types": {
      "get": {
        "tags": [
          "property-controller"
        ],
        "summary": "Получение групп типов настроек",
        "description": "Метод позволяет получить типы групп настроек",
        "operationId": "getTypesUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«string»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/report/get": {
      "get": {
        "tags": [
          "report-controller"
        ],
        "summary": "Получение ссылки на отчёт",
        "description": "Метод выдаёт ссылку на файл отчёта по его типу и дате",
        "operationId": "getReportUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Дата отчёта",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false,
            "x-example": "yyyy-MM-dd"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Тип отчёта",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«string»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/report/instruction": {
      "get": {
        "tags": [
          "report-controller"
        ],
        "summary": "Получение Инструкции",
        "description": "Метод отдает ID последней загруженной инструкции",
        "operationId": "getInstructionUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«string»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/report/isExists": {
      "get": {
        "tags": [
          "report-controller"
        ],
        "summary": "Проверка существования отчёта",
        "description": "Метод проверяет, существует ли ссылка на файл отчёта по его типу и дате",
        "operationId": "isExistsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Дата отчёта",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false,
            "x-example": "yyyy-MM-dd"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Тип отчёта",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«boolean»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/report/save": {
      "post": {
        "tags": [
          "report-controller"
        ],
        "summary": "Сохранение ссылки на отчёт",
        "description": "Метод сохраняет ссылку на  файл отчёта",
        "operationId": "saveReportUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "reportDTO",
            "description": "Дата, имя и ссылка на файл отчёта",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ReportDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/report/saveToFile": {
      "get": {
        "tags": [
          "report-file-controller"
        ],
        "summary": "Сохранение отчёта в файл",
        "description": "Метод получает отчёт и сохраняет в файл",
        "operationId": "reportAsFileUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "date",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "name": "dimension",
            "in": "query",
            "description": "dimension",
            "required": false,
            "type": "string"
          },
          {
            "name": "majorPrefectType",
            "in": "query",
            "description": "majorPrefectType",
            "required": false,
            "type": "string"
          },
          {
            "name": "season",
            "in": "query",
            "description": "season",
            "required": false,
            "type": "string"
          },
          {
            "name": "weekDayTpe",
            "in": "query",
            "description": "weekDayTpe",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/report/types": {
      "get": {
        "tags": [
          "report-controller"
        ],
        "summary": "Получение ссылки на отчёт",
        "description": "Метод выдаёт ссылку на файл отчёта по его типу и дате",
        "operationId": "getTypesUsingGET_1",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«HashMap«string,string»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/reset/all": {
      "get": {
        "tags": [
          "caches-controller"
        ],
        "summary": "Запрос на сброс всех кэшей приложения и обновления тех из них, что построены на кэшировании специальных данных из БД",
        "description": "Метод позволяет заставить приложение обновить внутреннее состояние без перезагрузки такового",
        "operationId": "resetUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/reset/cache": {
      "get": {
        "tags": [
          "caches-controller"
        ],
        "summary": "Запрос на сброс кэша ответов сервисов (response cache)",
        "description": "Метод позволяет сбросить кэш ответов сервисов (response cache)",
        "operationId": "resetCacheUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/reset/layers": {
      "get": {
        "tags": [
          "caches-controller"
        ],
        "summary": "Запрос на сброс кэша метаданных слоев (layers metadata cache)",
        "description": "Метод позволяет сбросить кэш метаданных слоев (layers metadata cache)",
        "operationId": "resetLayersUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/reset/meta": {
      "get": {
        "tags": [
          "caches-controller"
        ],
        "summary": "Запрос на сброс кэша метакарт (layers metadata metamap cache)",
        "description": "Метод позволяет сбросить кэш метакарт (layers metadata metamap cache)",
        "operationId": "resetMetaUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/reset/queries": {
      "get": {
        "tags": [
          "caches-controller"
        ],
        "summary": "Запрос на сброс кэша SQL запросов (SQL queries cache)",
        "description": "Метод позволяет сбросить кэш SQL запросов (SQL queries cache)",
        "operationId": "resetQueriesUsingGET",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/security_journal": {
      "get": {
        "tags": [
          "security-journal-output-controller"
        ],
        "summary": "Выдача журнала посещений в csv",
        "description": "Метод получает журнал посещений и сохраняет в файл csv",
        "operationId": "journalAsCSVUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "size",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/system_type": {
      "get": {
        "tags": [
          "system-type-controller"
        ],
        "summary": "Получение списка доступных систем для фильтрации",
        "operationId": "getSystemTypesUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "description": "group",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "CITIZEN,GOVERNMENT"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«string»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/ts/info": {
      "get": {
        "tags": [
          "ts-info-controller"
        ],
        "summary": "getTsInfoByType",
        "operationId": "getTsInfoByTypeUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Тип справочника",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«List«TsInfoDTO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/violations/card": {
      "get": {
        "tags": [
          "violations-controller"
        ],
        "summary": "Запрос на получение данных по карточке нарушения с фото и видео",
        "description": "Метод позволяет получить информацию о нарушении с фото\\видеофиксацией",
        "operationId": "getCardViolationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ID",
            "in": "query",
            "description": "ID нарушения",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "5efbf6f0-cf24-4498-bbe5-31ae6aed1c0f"
          },
          {
            "name": "system",
            "in": "query",
            "description": "система (ЦАФАП/ОАТИ/НГ)",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "(CAFAP/OATI/NG)"
          },
          {
            "name": "ticket",
            "in": "query",
            "description": "номер тикета ЦАФАП/ОАТИ/НГ",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "100585075"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«ViolationCardDTO»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/violations/createCameraPosition": {
      "get": {
        "tags": [
          "camera-controller"
        ],
        "summary": "Запрос на создание позиции камеры",
        "description": "Метод позволяет создать позиции камеры",
        "operationId": "createCameraPositionUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cameraId",
            "in": "query",
            "description": "Идентификатор камеры",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "404925c2-b6c6-47b8-82d0-44df918da3d4"
          },
          {
            "name": "sold",
            "in": "query",
            "description": "идентификатор типа объекта видеонаблюдения",
            "required": false,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "system",
            "in": "query",
            "description": "тип позиции (0 - пользовательская, 1 - системная)",
            "required": false,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 1
          },
          {
            "name": "title",
            "in": "query",
            "description": "название для создаваемой позиции",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«Map»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/violations/deleteCameraPosition": {
      "get": {
        "tags": [
          "camera-controller"
        ],
        "summary": "Запрос на удаление сохраненной позиции",
        "description": "Метод позволяет удалить сохраненную позицию",
        "operationId": "deleteCameraPositionUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "идентификатор уникальной позиции",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "404925c2-b6c6-47b8-82d0-44df918da3d4"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestResult«Map»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/violations/dimension/{dimension}/{alias}/{filter}/{value}": {
      "get": {
        "tags": [
          "violations-controller"
        ],
        "summary": "Запрос на получение данных по нарушениям на объектах заданного разреза по районам",
        "description": "Метод позволяет получить информацию по нарушениям на объектах заданного разреза по районам",
        "operationId": "violationsOfDimensionUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "description": "Alias слоя района. Используется в формировании URL.",
            "required": false,
            "type": "string",
            "x-example": "<uri>/violations/dimension/mkd/districts.regions.moscow.russia"
          },
          {
            "name": "cache",
            "in": "header",
            "description": "cache",
            "required": false,
            "type": "string"
          },
          {
            "name": "dimension",
            "in": "path",
            "description": "Alias слоя среза ДТ/МКД/ОДХ/ТПУ. Используется в формировании URL.",
            "required": false,
            "type": "string",
            "x-example": "<uri>/violations/dimension/mkd/districts.regions.moscow.russia"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Временное окно для нарушений. Дата и время окончания периода",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "yyyy-MM-ddThh:mm:ss"
          },
          {
            "name": "filter",
            "in": "path",
            "description": "Имя фильтра. Имя атрибута в возвращаемом JSON объекте.",
            "required": false,
            "type": "string",
            "x-example": "properties.object_code"
          },
          {
            "name": "role",
            "in": "query",
            "description": "Роль пользователя",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "ROLE_DASHBORD_MER"
          },
          {
            "name": "season",
            "in": "query",
            "description": "Сезон",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "winter"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Временное окно для нарушений. Дата и время начала периода",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false,
            "x-example": "yyyy-MM-ddThh:mm:ss"
          },
          {
            "name": "usePeriod",
            "in": "query",
            "description": "Использовать период",
            "required": false,
            "type": "boolean",
            "default": false,
            "allowEmptyValue": false,
            "x-example": true
          },
          {
            "name": "value",
            "in": "path",
            "description": "Значение фильтра. Значение атрибута в возвращаемом JSON объекте.",
            "required": false,
            "type": "string",
            "x-example": "01210"
          },
          {
            "name": "violationSource",
            "in": "query",
            "description": "Источник нарушений",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "GOVERNMENT",
                "CITIZEN",
                "SYS",
                "ASUPR",
                "ALL"
              ]
            },
            "collectionFormat": "multi",
            "default": "GOVERNMENT,CITIZEN",
            "allowEmptyValue": false,
            "enum": [
              "GOVERNMENT",
              "CITIZEN",
              "SYS",
              "ASUPR",
              "ALL"
            ]
          },
          {
            "name": "violationSourceSystem",
            "in": "query",
            "description": "violationSourceSystem",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "violationType",
            "in": "query",
            "description": "Тип нарушения",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "CRT,CMN",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/dashboard/violations/get/nearby/cameras": {
      "get": {
        "tags": [
          "camera-controller"
        ],
        "summary": "Запрос на получение данных по камерам в радиусе из ЕЦХД",
        "description": "Метод позволяет получить информацию камерах в определенном радиусе из ЕЦХД",
        "operationId": "getEchdNearbyCamerasUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Широта",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "55.8536627248391"
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Долгота",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "37.5021999706166"
[...]
